{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="{% static 'styles/style.css' %}">

    <title>Digital Professional Me Auth</title>
</head>
<body>


<div class="login_page">
    <div>
        <p class="title_text">Digital Professiona Me</p>
    </div>

    <div class="login_form" id="login" style="display: block;">
        <p class="welcome_text">Восстановить пароль</p>

    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button class="login_button" type="submit">Отправить письмо на почту</button>
    </form>

        <div class="text_hint">
            <p class="label_question">Уже есть аккаунт?</p><a class="label_register"
                                                              href="/accounts/login/">Регистрация</a>
        </div>

    </div>
</div>


</body>
</html>