{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'styles/style.css' %}">
    <title>Digital Professional Me Auth</title>
</head>
<body>
<div class="login_page">
    <div>
        <p class="title_text">Digital Professional Me</p>
    </div>

    <div class="login_form" id="login" style="display: block; padding-bottom: 20px">
        <p class="welcome_text">Добро пожаловать!</p>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button class="login_button" type="submit">Изменить пароль</button>
        </form>
        <form method="post" id="loginForm" class="needs-validation" action="{% url 'login' %}">
            {% csrf_token %}
        </form>
    </div>
</div>
</body>
</html>

